*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    background-image: url(./img/background.png);
    height: 600px;
    background-repeat: no-repeat;
    background-size: cover;
}
.navbar{
    display: inline-flex;
    width: 100%;
    padding: 20px;
}
.logo{
    width: 50%;
}
.logo img{
    width: 200px;
}
.menu{
    width: 50%;
    padding: 20px;

}
.menu ul{
    display: inline-flex;
}
.menu ul li{
    margin-right: 30px;
    list-style: none;
    font-size: 18px;
}
.menu ul li a{
    text-decoration: none;
    color: white;
    font-weight: lighter;
    margin-left:30px;
}
.menu ul li a i{
    color: white;
}