*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
header{
    width: 100%;
    position: sticky;
    top: 0;
}
.nav{
    display: inline-flex;
    width: 100%;
}
.logo{
    width: 20%;
    text-align: center;
    padding: 15px;
}
.logo img{
    width: 100px;

}
.menu{
    padding: 15px;
    padding-left: 85px;
}
.menu ul{
    display: inline-flex;
}
.menu ul li{
    list-style: none;
}
.menu ul li a{
    font-size: 16px;
    text-decoration: none;
    margin-right: 45px;
    color: black;
    font-weight: lighter;
}
.menu ul li a:hover{
    color: orange;
}
.box{
    height: 500px;

}

.footer{
    display: inline-flex;
    padding: 30px;
    width: 100%;
    background-color: whitesmoke;
}

.one{
    width: 20%;
}
.one li{
    list-style: none;

}
.one li a{
    text-decoration: none;
    padding-left: 50px;
    color: black;
    line-height: 1.8;
    font-size: 14px;
}
.one li a:hover{
    color: orange;
}

.two{
    width: 20%;
}
.two li{
    list-style: none;

}
.two li a{
    text-decoration: none;
    padding-left: 50px;
    color: black;
    line-height: 1.8;
    font-size: 14px;
}
.two li a:hover{
    color: orange;
}
.three{
    width: 20%;
}
.three li{
    list-style: none;

}
.three li a{
    text-decoration: none;
    padding-left: 50px;
    color: black;
    line-height: 1.8;
    font-size: 14px;
}
.three li a:hover{
    color: orange;
}
.four{
    width: 20%;
}
.four li{
    list-style: none;

}
.four li a{
    text-decoration: none;
    padding-left: 50px;
    color: black;
    line-height: 1.8;
    font-size: 14px;
}
.four li a:hover{
    color: orange;
}
.five{
    width: 20%;
}
.five li{
    list-style: none;
    text-align: center;
}
.five li a{
    text-decoration: none;
    padding-left: 50px;
    color: black;
    line-height: 1.8;
    text-align: center;
    font-size: 14px;
    font-size: 14px;
}
.five li a:hover{
    color: orange;
}
.fh{
    font-size: 17px;
    font-weight: bold;
}