*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header{
    height: 60px;
}
.nav{
    padding: 16px;
}
.nav ul{
    display: flex;
    list-style: none;
    width: 100%;
    justify-content: center;
}
.nav ul li{

}
.nav ul li a{
    color: black;
    text-decoration: none;
    margin-right: 25px;
    font-size: 18px;
}
.nav ul li a:hover{
    color: orange;
}



body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
  }
  
  .ball {
    width: 50px;
    height: 50px;
    background-color: #3498db;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: moveBall 9s linear infinite alternate;
  }
  
  @keyframes moveBall {
    0% {
      top: 50%;
      left: 0;
    }
    100% {
      top: 50%;
      left: 100%;
    }
  }



  .ball2 {
    width: 50px;
    height: 50px;
    background-color: red;
    border-radius: 50%;
    position: absolute;
    right: 20%;
    bottom: 20%;
    transform: translate(-50%, -50%);
    animation: moveBall2 7s linear infinite alternate;
  }
  
  @keyframes moveBall2 {
    0% {
      right: 20%;
      bottom: 0;
    }
    100% {
      right: 20%;
      bottom: 100%;
    }
  }



  .ball3 {
    width: 50px;
    height: 50px;
    background-color: red;
    border-radius: 50%;
    position: absolute;
    right: 20%;
    bottom: 20%;
    transform: translate(-50%, -50%);
    animation: moveBall3 8s linear infinite alternate;
  }
  
  @keyframes moveBall3 {
    0% {
      right: 90%;
      bottom: 0;
    }
    100% {
      right: 90%;
      bottom: 100%;
    }
  }










  